cmake
dlib==19.16.0
matplotlib==2.0.2
gunicorn==19.9.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==0.12.2
Flask-Cors==3.0.3
Pillow==4.1.0
numpy==1.14.3
numpydoc==0.7.0
Werkzeug==0.14.1