body {background-color: coral;}

#data_tab {
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 150px;
    padding-left: 80px;
}

canvas {
    height: 40%;
    width: 40%;
}

p {
    font-family: Georgia;
    color: darkblue;
}